---
import Layout from "../layouts/Layout.astro";
---

<!-- 404 error -->
<Layout title="404, no lo he encontrado">
  <main>
    <h1 >Oh, vaya. ¡Lo has roto!</h1>
    <img src="https://midu.dev/images/this-is-fine-404.gif" />
  </main>
</Layout>

<style>
    main{
        padding: 50px;
        min-height: 80vh;
    }
</style>