---
import Layout from '../layouts/Layout.astro';

const title = 'Hospedajes - Casa de Campo LA HERMINDA';
---

<!-- Lodgings -->
<Layout {title}>
    <h2 class="text-4xl box-border p-4 font-bold italic">Nuestros Hospedajes</h2>
    <section class="flex flex-col items-center gap-10 w-screen p-15 mb-10 mt-4">
        <a href="#" class="w-11/12 box-border flex flex-col items-center bg-bg-cards border border-gray-300 rounded-lg shadow-2xl md:flex-row md:max-w-6xl hover:opacity-70 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700 gap-5">
            <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-l-lg" src="../..//assets/Fotos prueba/cordoba004.jpg" alt="">
            <div class="flex flex-col justify-between p-4 leading-normal">
                <h5 class="mb-2 text-2xl font-bold italic tracking-tight text-inherit dark:text-text-header">Casa Planta Alta</h5>
                <p class="mb-3 font-normal text-inherit dark:text-text-header">Casa de 70m2 compuesta por dormitorio matrimonial con sommier de alta densidad y amplio placard con baulera, dormitorios con tres camas de 1 plaza con colchon alta densidad y amplio placard con baulera. Baño completo con bañera y ducha. Living con sofá cama de 2 plazas, estufa "Tromen" a leña, aire acondicionado, tv smart 43", wifi, material de lectura. Cocina-comedor concepto abierto con barra desayunadora. Balcón aterrazado con vista a las Altas Cumbres.</p>
            </div>
        </a>

        <a href="#" class="w-11/12 box-border flex flex-col items-center bg-bg-cards border border-gray-300 rounded-lg shadow-2xl md:flex-row md:max-w-6xl hover:opacity-70 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700 gap-5">
            <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-l-lg" src="../..//assets/Fotos prueba/cordoba 008.jpg" alt="">
            <div class="flex flex-col justify-between p-4 leading-normal">
                <h5 class="mb-2 text-2xl font-bold italic tracking-tight text-inherit dark:text-text-header">Casa Planta Baja</h5>
                <p class="mb-3 font-normal text-inherit dark:text-text-header">Casa de 70m2 compuesta por dormitorio matrimonial con sommier de alta densidad y placard. Amplio dormitorio con cuatro camas de 1 plaza con colchon de alta densidad y placard. Baño muy amplio con ducha, lavadero.Living con sofá cama de 2 plazas, tv smart 43", wifi. Cocina-comedor concepto abierto con barra desayunadora. </p>
            </div>
        </a>

        <a href="#" class="w-11/12 box-border flex flex-col items-center bg-bg-cards border border-gray-300 rounded-lg shadow-2xl md:flex-row md:max-w-6xl hover:opacity-70 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700 gap-5">
            <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-l-lg" src="../..//assets/Fotos prueba/cordoba 015.jpg" alt="">
            <div class="flex flex-col justify-between p-4 leading-normal">
                <h5 class="mb-2 text-2xl font-bold italic tracking-tight text-inherit dark:text-text-header">Espacios comunes</h5>
                <p class="mb-3 font-normal text-inherit dark:text-text-header">Quincho cubierto de 35m2 con amplio portón de 3mts que permite guardar un auto. Puerta balcón de 2mts con salida al parque. Amplio asador con parrilla de 60x90 con leñero de 50x30, horno y disco.</p>
                <p class="mb-3 font-normal text-inherit dark:text-text-header">Cochera semicubierta para 2 vehículos.</p>
            </div>
        </a>
    </section>
</Layout>