---
import { ImgGridPlace } from '../components/ImgGridPlace.jsx';
import Layout from '../layouts/Layout.astro';

const title = 'El Lugar - Casa de Campo LA HERMINDA';
---

<!-- Lodgings -->
<Layout {title}>
    <section class="border-box w-11/12 p-2">
        <h2 class="text-4xl italic font-bold mb-3">Nuestro Lugar</h2>
        <p class="text-xl">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id in incidunt doloribus deleniti. Ad nulla deleniti eius fugiat sint dolores velit repellendus labore voluptates! Natus facilis atque at illo deleniti?
        Unde exercitationem perferendis repellat possimus vero explicabo totam, dolores dolorem quam quasi quos modi esse dignissimos inventore quidem commodi. Vero inventore officia asperiores cum quisquam quasi ducimus, nobis ea voluptatum?
        Doloremque totam impedit tempore a quaerat fugiat. Magni, assumenda dolorum omnis vitae ratione eveniet repellendus ullam debitis quae facere soluta temporibus maiores in dicta natus cumque pariatur molestiae odit eius!
        </p>
    </section>
    
    <ImgGridPlace />
</Layout>