---
import Layout from '../layouts/Layout.astro';

const title = 'Servicios - Casa de Campo LA HERMINDA';
---

<!-- Services -->
<Layout {title}>
    <section class="flex flex-col lg:flex-row gap-5 p-6 min-h-max">
        <div>
            <h2 class="text-4xl box-border pb-4 font-bold italic">Servicios</h2>
            <ul class="list-disc text-lg">
                <li>Abierto por temporada</li>
                <li>A 2500mts del centro de Nono</li>
                <li>AA 1 unidad, ventiladores oscilantes de pie, mosquiteros</li>
                <li>Asador (cubierto 35mts), horno, parrilla 60x90 + leñero, disco</li>
                <li>Caja de seguridad digital</li>
                <li>Cochera semicubierta para 2 vehiculos, cubierta para 1 vehiculo</li>
                <li>Cocina con horno, vajilla completa, microondas, heladera con freezer y dispenser de agua fría, pava eléctrica, tostadora, minipimer</li>
                <li>Equipamiento adicional: luz de emergencia, matafuegos, botiquín</li>
                <li>Habitaciones: camas sommier de alta densidad, camas con colchones de alta densidad, practicuna</li>
                <li>Ropa blanca: sábanas, frazadas, cobertores, toallas y toallones (recambio cada 7 días)</li>
                <li>Parque y jardín de 2 hectáreas arbolado con salida privada al balneario "La Bomba/Remansos 1"</li>
                <li>Servicio de limpieza opcional a cargo del cliente</li>
                <li>Vigilancia: alarma, cámaras de seguridad</li>
                <li>Wifi</li>
                <li>Tv: Directv, fútbol codificado, Netflix</li>
                <li>Permite mascotas (Petfriendly)</li>
            </ul> 
        </div>
        <img src="../..//assets/Fotos prueba/cordoba 006.jpg" alt="Logo" class="lg:w-1/2 aspect-auto rounded-2xl shadow-2xl shadow-black brightness-50 hover:brightness-100">     
    </section>
</Layout>
