<div class="box-border w-full p-5 flex flex-col bg-inherit gap-8 min-h-max mb-5">	
    <h1 class="text-4xl italic font-bold">Bienvenidos</h1>
    <p class="text-xl w-full">Casa de campo <span class="font-bold italic">"La Herminda"</span> se encuentra emplazada en un predio de 2 hectareas arboladas y parquizadas con salida privada al balneario "La Bomba/Remansos 1". Ubicada a 2500mts del centro de Nono, en el barrio residencial "Alto del Monte". Los predios linderos de misma dimensión permiten grandes vistas a las Altas Cumbres, mucha vegetación, flora y fauna autóctona y una apacible tranquilidad propicia para el placentero descanso y privacidad.</p>			
</div>
