<!-- NavBar -->

<nav class="rounded-xl mt-2">
	<div class="flex justify-end">
		<button data-collapse-toggle="navbar-solid-bg" type="button" class="inline-flex items-center p-2 w-10 h-10 m-2 justify-center text-sm text-text-header bg-text-principal rounded-lg md:hidden hover:bg-text-header hover:text-text-principal focus:outline-none focus:ring-2 focus:ring-gray-200" aria-controls="navbar-solid-bg" aria-expanded="false">
			<span class="sr-only">Open main menu</span>
			<svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
				<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
			</svg>
    	</button>
	</div>
	
	<div class="hidden w-full md:block md:w-auto" id="navbar-solid-bg">
		<ul class="flex flex-col md:flex-row items-end justify-center md:gap-8 p-1.5 text-text-header text-2xl font-normal md:font-medium px-3">
			<li class="hover:underline hover:scale-125 hover:backdrop-blur-xs rounded-xl p-1">
				<a href="/">Inicio</a>
			</li>
			<li class="hover:underline hover:scale-125 hover:backdrop-blur-xs rounded-xl p-1">
				<a href="/place">El Lugar</a>
			</li>
			<li class="hover:underline hover:scale-125 hover:backdrop-blur-xs rounded-xl p-1">
				<a href="/lodgings">Hospedajes</a>
			</li>
			<li class="hover:underline hover:scale-125 hover:backdrop-blur-xs rounded-xl p-1">
				<a href="/services">Servicios</a>
			</li>
			<li class="hover:underline hover:scale-125 hover:backdrop-blur-xs rounded-xl p-1">
				<a href="/contact">Contacto</a>
			</li>
		</ul>
	</div>
</nav>
